@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-layout carded left-sidebar single-scroll">

        <div class="top-bg bg-primary text-auto"></div>

        <aside class="page-sidebar" data-fuse-bar="demo-sidebar" data-fuse-bar-media-step="md">

            <!-- HEADER -->
            <div class="header p-6">
                <span class="h4"> <img style="height:150px" src="~/images/permissions-reset-icon.png" /></span>
            </div>
            <!-- / HEADER -->

            <div class="content">
                <!-- DEMO CONTENT -->
                <div class="demo-sidebar">
                    @Html.Partial("~/Areas/Admin/Views/Shared/_MenuAcesso.cshtml")

                </div>
                <!-- / DEMO CONTENT -->
            </div>

        </aside>

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- HEADER -->
            <div class="page-header py-6 light-fg">

                <div class="d-flex flex-row align-items-center">

                    <button type="button" class="sidebar-toggle-button btn btn-icon d-block d-lg-none mr-2 fuse-ripple-ready" data-fuse-bar-toggle="demo-sidebar">
                        <i class="icon icon-menu"></i>
                    </button>
                    <span class="h4">Configuração de acesso</span>

                </div>

            </div>
            <!-- / HEADER -->

            <div class="page-content-card">
                <!-- CONTENT TOOLBAR -->
                <div class="toolbar col p-6">
                    Páginas

                </div>
                <div class="demo-content">

                    <div class="p-7 col-12">
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        <input id="inputPerfil" type="text" class="form-control" placeholder="Novo Perfil" />
                                    </td>
                                    <td>
                                        <button class="btn btn-light btn-fab btn-sm fuse-ripple-ready" onclick="Cadastrar()"><i class="icon-plus"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                    <center>
                        <div class=" p-6 col-10">
                            <table id="perfilDataTable" class="table dataTable"></table>
                        </div>
                    </center>
                </div>
            </div>

        </div>
        <!-- / PAGE CONTENT WRAPPER -->
    </div>



@section Scripts{
    <script type="text/javascript" src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/node_modules/datatables-responsive/js/dataTables.responsive.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            MontarDataTable();
        });
        function MontarDataTable() {

            $('#perfilDataTable').DataTable(
                {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "bDestroy": true,
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "/Admin/Acesso/ObterPerfis",
                    "aoColumns": [
                        {
                            "sTitle": "Código",
                            "mDataProp": "id",
                            "sWidth": "15%"
                        },
                        {
                            "sTitle": "Perfil",
                            "mDataProp": "desPerfil"
                        }


                    ],
                    dom: 'rt<"dataTables_footer"ip>',

                    language: {
                        lengthMenu: "Exibe _MENU_ Registros por pagina",
                        search: "Procurar",
                        paginate: { "previous": "Retornar", "next": "Avancar" },
                        zeroRecords: "Nenhum registro encontrado",
                        info: "Exibindo pagina _PAGE_ de _PAGES_",
                        infoEmpty: "Sem registros",
                        infoFiltered: "(filtrado de _MAX_ regitros totais)",
                        processing: "Aguarde Estamos Processando..."
                    },

                    "filter": true,            // habilita o filtro(search box)
                    "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],

                    pageLength: 5,
                    scrollY: 'auto',
                    scrollX: false,
                    responsive: true,
                    autoWidth: false,
                    scrollCollapse: true

                }
            );
        }
        function Cadastrar() {
            if ($("#inputPerfil").val().length > 0) {
                var dataT = {

                    id: 0,
                    dePerfil: $("#inputPerfil").val()

                };
                var callback = function (data) {
                    var perfil = JSON.parse(data);
                    if (perfil.success) {
                        PNotify.success({
                            title: pagina.message
                        });
                          MontarDataTable();

                    }
                    else {
                        var msg = '';
                        $.each(perfil.data, function (index, item) {
                            msg = msg + item.property + ' - ' + item.message + '\n';
                        });

                        PNotify.info({
                            title: msg
                        });

                    }
                };
                var callbackErro = function (data) {
                    PNotify.error({
                        title: 'Ocorreu um erro ao processar sua solicitação'
                    });

                };

                academia.helper.rest.utils.POST("/Admin/Acesso/Perfil/Novo/", dataT, callback, callbackErro, $('#loader'));
            }
            else {

                PNotify.info({
                    title: 'Informe a descrição da página'
                });


            }

        }


    </script>
}