
<ul class="nav flex-column">

    <li class="subheader">Menu</li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Pagina">Pagina</a>
    </li>
    <md-divider></md-divider>
    <li class="nav-item">
        <a class="nav-link"  href="/Admin/Perfil">Perfil</a>
    </li>
    <md-divider></md-divider>
    <li class="nav-item">
        <a class="nav-link"  href="/Admin/Permissao">Permissao</a>
    </li>
    <md-divider></md-divider>
    <li class="nav-item">
        <a class="nav-link"  href="/Admin/Acesso/DadosAcesso">Dados Acesso</a>
    </li>
</ul>