
@{
    ViewData["Title"] = "teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>teste</h2>

                                                             dgdgdfgdfg
dfg
df
g
df
gdf
g
df
gd
fg
df
gd
fg
df
g
df