<div class="user-menu-button dropdown">

    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar-wrapper">
            <img class="avatar" src="/images/avatars/Funcionario/@User.Claims.FirstOrDefault(x=>x.Type == "Foto").Value">
            <i class="status text-green icon-checkbox-marked-circle s-4"></i>
        </div>
        <span class="username mx-3 d-none d-md-block">@User.Identity.Name</span>
    </div>

    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">

        <a class="dropdown-item" href="#">
            <div class="row no-gutters align-items-center flex-nowrap">
                <i class="icon-account"></i>
                <span class="px-3">Minha Área</span>
            </div>
        </a>



        <a class="dropdown-item" href="#">
            <div class="row no-gutters align-items-center flex-nowrap">
                <i class="status text-green icon-checkbox-marked-circle"></i>
                <span class="px-3">Online</span>
            </div>
        </a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="/login/LogoffAsync">
            <div class="row no-gutters align-items-center flex-nowrap">

                <i class="icon-logout"></i>
                <span class="px-3">
                    Sair
                </span>

            </div>
        </a>

    </div>
</div>