
@{
    ViewData["Title"] = "Cards";
    Layout = null;
}

<h2>Cards</h2>

@section CSS{

    <link href="~/css/cards.css" rel="stylesheet" />
}
<div class="content custom-scrollbar">
    <table>
        <tr>
            <td>
               
            </td>
            <td>
                <div class="bodyPost divPost pPost post-it-note">
                    <p>This folded corner works on any colored background!</p>
                </div>
            </td>
            <td>
                <div class="bodyPost divPost pPost post-it-note">
                    <p>This folded corner works on any colored background!</p>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="#" class="btn btn-primary fuse-ripple-ready">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="bodyPost divPost pPost post-it-note">
                    <p>This folded corner works on any colored background!</p>
                </div>
            </div>
        </div>
    </div>
</div>

