@{
    ViewData["Title"] = "Home";
}



<div id="project-dashboard" class="page-layout simple right-sidebar">

    <div class="page-content-wrapper custom-scrollbar">

        <!-- CONTENT -->
        <div class="page-content">


            <div class="tab-content">
                <div class="tab-pane fade show active p-3" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group row no-gutters">
                        @if (@User.Claims.FirstOrDefault(x => x.Type == "Papel").Value != "Professor")
                        {
                            <!-- WIDGET 1 -->
                            <div class="col-12 col-sm-6 col-xl-3 p-3">

                                <div class="widget widget1 card">

                                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                        <div class="col">
                                        </div>
                                    </div>

                                    <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">

                                        <div id="totalAlunomatriculado" class="title text-secondary">0</div>

                                        <div class="sub-title h6 text-muted">Alunos</div>

                                    </div>

                                    <div class="widget-footer p-4 bg-light row no-gutters align-items-center">

                                        <span class="text-muted h5"><label>Total Matriculado</label></span>



                                    </div>
                                </div>
                            </div>
                            <!-- / WIDGET 1 -->
                            <!-- WIDGET 2 -->
                            <div class="col-12 col-sm-6 col-xl-3 p-3">

                                <div id="divMensalAtrasado" class="widget widget2 card">

                                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

                                    </div>

                                    <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                        <div id="totalMensalidadeAtraso" class="title text-danger">0</div>
                                        <div class="sub-title h6 text-muted">Mensalidades</div>
                                    </div>

                                    <div class="widget-footer p-4 bg-light row no-gutters align-items-center">
                                        <span class="text-muted h5"> <label>Em Atraso</label></span>
                                    </div>
                                </div>
                            </div>
                            <!-- / WIDGET 2 -->
                            <!-- WIDGET 3 -->
                            <div class="col-12 col-sm-6 col-xl-3 p-3">

                                <div class="widget widget3 card">

                                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

                                        <div class="col">
                                            <span class="h6"></span>
                                        </div>
                                    </div>

                                    <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                        <div id="totalAgendamento" class="title text-warning">0</div>
                                        <div class="sub-title h6 text-muted">Aulas</div>
                                    </div>

                                    <div class="widget-footer p-4 bg-light row no-gutters align-items-center">
                                        <span class="text-muted h5"> <label>Total</label></span>

                                    </div>
                                </div>
                            </div>
                            <!-- / WIDGET 3 -->
                            <!-- WIDGET 4 -->
                            <div class="col-12 col-sm-6 col-xl-3 p-3">

                                <div class="widget widget4 card">

                                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                    </div>

                                    <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                        <div id="totalMensalidadeHoje" class="title text-info">5</div>
                                        <div class="sub-title h6 text-muted">Mensalidades</div>
                                    </div>

                                    <div class="widget-footer p-4 bg-light row no-gutters align-items-center">
                                        <span class="text-muted h5"> <label>Vencendo Hoje</label></span>

                                    </div>
                                </div>
                            </div>
                            <!-- / WIDGET 4 -->
                        }
                        <!-- WIDGET 5 -->
                        <div class="col-12 p-3">

                            <div class="widget widget5 card">

                                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">

                                    <div class="col">
                                        <span class="h6">Agenda de Hoje</span>
                                    </div>

                                </div>

                                <div class="widget-content p-4">

                                    <div class="row">
                                        <table id="agenda-datatable" class="table dataTable "></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / WIDGET 5 -->

                    </div>
                    <!-- / WIDGET GROUP -->
                </div>


            </div>

        </div>
        <!-- / CONTENT -->

    </div>


</div>
<div id="modalFinanceiroAluno" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Lista de Pendencias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-content-wrapper">


                    <!-- / HEADER -->

                    <div style=" max-height:300PX; overflow:auto" class="page-content-card">


                        <table id="financeiroAlunos"  class="table dataTable">
                            <thead>
                                <tr>
                                    <td>Aluno</td>
                                    <td>Valor</td>
                                    <td>Vencimento</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody ></tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <hr />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/apps/dashboard/project.js"></script>
@section Css{
    <style>
        .doc > .page-header {
            height: 6.5rem;
        }
        /*.btn-fab {
            line-height: 5.6rem;
            width: 20.6rem;
            min-width: 10.6rem;
            height: 10.6rem;
            min-height: 20.6rem;
        }*/
    </style>
}
@section Scripts{
    <script type="text/javascript" src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/node_modules/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/js/Helper/HelpData.js"></script>
    <script src="~/js/apps/Agenda/DataTable/Agenda.js"></script>
    <script>
        document.querySelector("#divMensalAtrasado").addEventListener("click", function (event) {
            var dataT = {
                status: 'Vencida'
            }
            var callback = function (data) {

                var table = $("#financeiroAlunos tbody");
                table.html('');
                $.each(data, function (index, item) {
                    table.append(`<tr><td>${item.alunoNome}</td><td>${item.valor}</td><td>${item.dataFormatada}</td><td>${item.parcela}</td></tr>`);
                });
                $('#modalFinanceiroAluno').modal("show");

            };
            var callbackErro = function (data) {
                PNotify.error({
                    title: 'Ocorreu um erro ao processar sua solicitação'
                });

            };

            academia.helper.rest.utils.GET("/Financeiro/MensalidadePorStatusAsync", dataT, callback, callbackErro, $('#loader'));


        });

        function ObterQuantitativoAlunoMesalidadeAgenda() {
            var lista = '[{ "id": 1, "dia": "Domingo" },{ "id": 2, "dia": "Segunda-Feira" },{ "id": 3, "dia": "Terça-Feira" },{ "id": 4, "dia": "Quarta-Feira"}, { "id": 5, "dia": "Quinta-Feira" }, { "id": 6, "dia": "Sexta-Feira" },{ "id": 7, "dia": "Sábado" }]';

            var callback = function (data) {
                var quantitativo = JSON.parse(data);
                if (quantitativo.success) {
                    var hoje = new Date();
                    var dia = '';
                    $(jQuery.parseJSON(lista)).each(function () {
                        if (this.id === hoje.getDay() + 1) {
                            dia = this.dia
                        }
                    });
                    $("#totalAlunomatriculado").html(quantitativo.resultado[0].totalAlunoMatriculado);
                    $("#totalAlunomatriculadoLabel").html(quantitativo.resultado[0].totalAlunoMatriculado);
                    $("#totalMensalidadeAtraso").html(quantitativo.resultado[0].totalMensalidadeAtraso);
                    $("#totalMensalidadeAtrasoLabel").html(quantitativo.resultado[0].totalMensalidadeAtraso);
                    $("#totalAgendamento").html(quantitativo.resultado[0].totalAgendamentoDia);
                    $("#totalAgendamentoLabel").html(`${dia}: ${hoje.getDate()}/${hoje.getMonth() + 1}/${hoje.getFullYear()}`);
                    $("#totalMensalidadeHoje").html(quantitativo.resultado[0].totalMensalidadeHoje);

                }
            };
            var callbackErro = function (data) {
                PNotify.error({
                    title: 'Ocorreu um erro ao processar sua solicitação'
                });

            };

            academia.helper.rest.utils.POST("/Home/ObterQuantitativoAlunoMensalidadeAgendamentoAsync/", '', callback, callbackErro, $('#loader'));

        }
    </script>

    <script>
        $(document).ready(function () {
            ObterQuantitativoAlunoMesalidadeAgenda();
        })


        function LimparFiltroAluno() {
            $("#alunoId").val('');
            $("#lialuno").removeClass("visible");
            $("#lialuno").addClass("invisible");
            $("#alunoNome").html('');
            $("#abrirSelectAluno").show();
            $("#fecharSelectAluno").hide();
            MontarDataTable(null);
        };
        function pegar_valor_linha_tabela(elemento) {
            var mAluno = $(elemento).closest('tr').find('td').eq('0').html().trim();
            var mCodigo = $(elemento).closest('tr').find('td').eq('1').text().trim();
            var mParcela = $(elemento).closest('tr').find('td').eq('2').text().trim();
            var mVencimento = $(elemento).closest('tr').find('td').eq('3').text().trim();
            var mValorParcela = $(elemento).closest('tr').find('td').eq('4').text().trim();
            var mDesconto = $(elemento).closest('tr').find('td').eq('5').text().trim();
            //$('#resultDescricao').val(modelo + ' [' + medida + '] [BRE' + bracoesq + '] [' + modulo + '] [BRD' + bracodir + '] [' + revestimento + ']');
            $('#mAluno').html(mAluno);
            $('#mCodigo').html(mCodigo);
            $('#mParcela').html(mParcela);
            $('#mVencimento').html(mVencimento);
            $('#mPagamento').html('');
            $('#mValorParcela').html(mValorParcela);
            $('#mDesconto').html(mDesconto);
            $('#mElemento').val(elemento.rowIndex);
            $('#mTotal').html(CalcularTotal(mValorParcela, 0, mDesconto));

            //$('#revestimento option:contains(' + revestimento + ')').prop('selected', true);
            //var botao = document.getElementById("modulo");
            //botao.click();
        }
        function CalcularTotal(valor, juros, desconto) {
            var calculo = (parseFloat(valor) + parseFloat(juros)) - parseFloat(desconto);
            return calculo;
        }
        function ModalAluno() {
            $('#modalFinanceiroAluno').modal("show");

        }
        function ModalPagamento(linha) {
            //alert(linha);
            pegar_valor_linha_tabela(linha.parentElement.parentElement);
            $('#modalPagamentoMensaliade').modal("show");

        }
        function SetarValorAluno(id, nome) {
            $("#alunoId").val(id);
            $("#lialuno").removeClass("invisible");
            $("#lialuno").addClass("visible");
            $("#alunoNome").html(nome);
            $('#modalFinanceiroAluno').modal("hide");
            MontarDataTable(null);
            $("#financeiroAlunos").removeClass("visible");
            $("#financeiroAlunos").addClass("invisible");
            $("#abrirSelectAluno").hide();
            $("#fecharSelectAluno").show();

        }


    </script>





}
