@{
    ViewData["Title"] = "Pagina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-layout carded left-sidebar single-scroll">

    <div class="top-bg bg-primary text-auto"></div>

    <aside class="page-sidebar" data-fuse-bar="demo-sidebar" data-fuse-bar-media-step="md">

        <!-- HEADER -->
        <div class="header p-6">
            <span class="h4"> <img style="height:150px" src="~/images/permissions-reset-icon.png" /></span>
        </div>
        <!-- / HEADER -->

        <div class="content">
            <!-- DEMO CONTENT -->
            <div class="demo-sidebar">
                @Html.Partial("~/Areas/Admin/Views/Shared/_MenuAcesso.cshtml")

            </div>
            <!-- / DEMO CONTENT -->
        </div>

    </aside>

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- HEADER -->
        <div class="page-header py-6 light-fg">

            <div class="d-flex flex-row align-items-center">

                <button type="button" class="sidebar-toggle-button btn btn-icon d-block d-lg-none mr-2 fuse-ripple-ready" data-fuse-bar-toggle="demo-sidebar">
                    <i class="icon icon-menu"></i>
                </button>
                <span class="h4">Configuração de acesso</span>

            </div>

        </div>
        <!-- / HEADER -->

        <div class="page-content-card">
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar col p-6">
                Páginas
            </div>
            <div class="demo-content">

                <div class="p-7 col-12">
                    <center>
                        <table>
                            <tr>
                                <td>
                                    <input id="inputPagina" type="text" class="form-control" placeholder="Nova Página" />
                                </td>
                                <td>
                                    <input id="inputConstante" type="text" class="form-control" placeholder="Chave" />
                                </td>
                                <td>
                                    <button class="btn btn-light btn-fab btn-sm fuse-ripple-ready" onclick="Cadastrar()"><i class="icon-plus"></i></button>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
                <center>
                    <div class=" p-6 col-10">
                        <table id="paginaDataTable" class="table "></table>
                    </div>
                </center>

            </div>
        </div>


    </div>
    <!-- / PAGE CONTENT WRAPPER -->
</div>


@*Modal Editar*@

<div id="modalPaginaEditar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Editar Página</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<form id="formEditarPagina" class="form">*@
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="inputCep" class="col-form-label">Código</label>
                            <input type="text" disabled class="form-control" id="inputId" name="inputId" placeholder="">
                            <input type="hidden" class="form-control" id="inputIdH" name="inputIdH">

                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="col-form-label">Chave</label>
                            <input type="text" class="form-control" id="inputChave" name="inputChave" placeholder="">
                            <input type="hidden" class="form-control" id="inputChaveH" name="inputChaveH">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="inputNumero" class="col-form-label">Descrição</label>
                            <input type="text" class="form-control" id="inputPaginaE" name="inputPagina" placeholder="">
                            <input type="hidden" class="form-control" id="inputPaginaEH" name="inputPaginaH">

                        </div>
                        <div class="form-group col-sm-2">
                            <button class="btn btn-light btn-fab btn-sm fuse-ripple-ready" onclick="Editar()"><i class="icon-pencil"></i></button>

                        </div>

                    </div>

                @*</form>*@
            </div>
            <div class="modal-footer">
                <hr />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript" src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/node_modules/datatables-responsive/js/dataTables.responsive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        MontarDataTable();
    });
    function MontarDataTable() {

        $('#paginaDataTable').DataTable(
            {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                },
                "bDestroy": true,
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "/Admin/Pagina/Listar",
                "aoColumns": [
                    {
                        "sTitle": "Código",
                        "mDataProp": "id",
                        "sWidth": "15%"
                    },
                    {
                        "sTitle": "Chave",
                        "mDataProp": "constante"
                    },
                    {
                        "sTitle": "Página",
                        "mDataProp": "desPagina"
                    },
                    {
                        "sTitle": "Ação",
                        "mDataProp": "acao"
                    }


                ],
                dom: 'rt<"dataTables_footer"ip>',

                language: {
                    lengthMenu: "Exibe _MENU_ Registros por pagina",
                    search: "Procurar",
                    paginate: { "previous": "Retornar", "next": "Avancar" },
                    zeroRecords: "Nenhum registro encontrado",
                    info: "Exibindo pagina _PAGE_ de _PAGES_",
                    infoEmpty: "Sem registros",
                    infoFiltered: "(filtrado de _MAX_ regitros totais)",
                    processing: "Aguarde Estamos Processando..."
                },

                "filter": true,            // habilita o filtro(search box)
                "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],

                pageLength: 5,
                scrollY: 'auto',
                scrollX: false,
                responsive: true,
                autoWidth: false,
                scrollCollapse: true

            }
        );
    }
    function Cadastrar() {
        if ($("#inputPagina").val().length > 0 && $("#inputConstante").val().length > 0) {
            var dataT = {

                id: 0,
                desPagina: $("#inputPagina").val(),
                constante: $("#inputConstante").val()

            };
            var callback = function (data) {
                var pagina = JSON.parse(data);
                if (pagina.success) {
                    PNotify.success({
                        title: pagina.message
                    });
                    MontarDataTable();

                }
                else {
                    var msg = '';
                    $.each(pagina.data, function (index, item) {
                        msg = msg + item.property + ' - ' + item.message + '\n';
                    });

                    PNotify.info({
                        title: msg
                    });

                }
            };
            var callbackErro = function (data) {
                PNotify.error({
                    title: 'Ocorreu um erro ao processar sua solicitação'
                });

            };

            academia.helper.rest.utils.POST("/Admin/Pagina/Criar", dataT, callback, callbackErro, $('#loader'));
        }
        else {

            PNotify.info({
                title: 'Informe a descrição da página'
            });


        }

    }
    function Excluir(linha) {

        var dataT = {
            paginaId: $(linha).closest('tr').find('td').eq('0').html(),

        };
        var callback = function (data) {

            var pagina = JSON.parse(data);
            if (pagina.success) {
                PNotify.success({
                    title: pagina.message
                });
                removeLinhaRowIndex(linha, "paginaDataTable");
            }
            else {
                var msg = '';
                $.each(pagina.data, function (index, item) {
                    msg = msg + item.property + ' - ' + item.message + '\n';
                });

                PNotify.info({
                    title: msg
                });
            }
        };
        var callbackErro = function (data) {
            PNotify.error({
                title: 'Ocorreu um erro ao processar sua solicitação'
            });

        };
        academia.helper.rest.utils.POST("/Admin/Pagina/Excluir/", dataT, callback, callbackErro, $('#loader'));
    }
    function ModalEditar(linha) {
        $("#inputPaginaE").val($(linha).closest('tr').find('td').eq('2').html())
        $("#inputPaginaEH").val($(linha).closest('tr').find('td').eq('2').html())
        $("#inputChave").val($(linha).closest('tr').find('td').eq('1').html())
        $("#inputChaveH").val($(linha).closest('tr').find('td').eq('1').html())
        $("#inputId").val($(linha).closest('tr').find('td').eq('0').html())
        $("#inputIdH").val($(linha).closest('tr').find('td').eq('0').html())
        $('#modalPaginaEditar').modal("show");
    }
    function Editar() {
        $('#modalPaginaEditar').modal("show");
        if ($("#inputPaginaE").val().length > 0 && $("#inputChaveH").val().length > 0) {
            var dataT = {
                id: $("#inputId").val(),
                chave: $("#inputChave").val(),
                chaveAtual: $("#inputChaveH").val(),
                desPagina: $("#inputPaginaE").val(),
                desPaginaAtual: $("#inputPaginaEH").val()
            }
            var callback = function (data) {

                var pagina = JSON.parse(data);
                if (pagina.success) {
                    PNotify.success({
                        title: pagina.message
                    });

                }
                else {

                    var msg = '';
                    $.each(pagina.data, function (index, item) {
                        msg = msg + item.property + ' - ' + item.message + '\n';
                    });

                    PNotify.info({
                        title: msg
                    });

                }
            };
            var callbackErro = function (data) {

                PNotify.error({
                    title: 'Ocorreu um erro ao processar sua solicitação'
                });

            };

            academia.helper.rest.utils.POST("/Admin/Pagina/Editar", dataT, callback, callbackErro, $('#loader'));
            return false;
        } else {

            PNotify.info({
                title: 'Informe a descrição e a chave da página'
            });


        }
    }
</script>
}




