
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    dsf
    sd
    fs
    df
    sd
    fsd
    f
    sd
    f
</body>
</html>
