@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-layout carded left-sidebar single-scroll">

    <div class="top-bg bg-primary text-auto"></div>

    <aside class="page-sidebar" data-fuse-bar="demo-sidebar" data-fuse-bar-media-step="md">

        <!-- HEADER -->
        <div class="header p-6">
            <span class="h4"> <img style="height:150px" src="~/images/permissions-reset-icon.png" /></span>
        </div>
        <!-- / HEADER -->

        <div class="content">
            <!-- DEMO CONTENT -->
            <div class="demo-sidebar">
                @Html.Partial("~/Areas/Admin/Views/Shared/_MenuAcesso.cshtml")

            </div>
            <!-- / DEMO CONTENT -->
        </div>

    </aside>

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- HEADER -->
        <div class="page-header py-6 light-fg">

            <div class="d-flex flex-row align-items-center">

                <button type="button" class="sidebar-toggle-button btn btn-icon d-block d-lg-none mr-2 fuse-ripple-ready" data-fuse-bar-toggle="demo-sidebar">
                    <i class="icon icon-menu"></i>
                </button>
                <span class="h4">Configuração de acesso</span>

            </div>

        </div>
        <!-- / HEADER -->

        <div class="page-content-card">
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar col p-6">
                Páginas

            </div>
            <div class="demo-content">

                <div class="p-7 col-12">
                    <center>
                        <table>
                            <tr>
                                <td>
                                    <input id="inputPerfil" type="text" class="form-control" placeholder="Novo Perfil" />
                                </td>

                                <td>
                                    <button class="btn btn-light btn-fab btn-sm fuse-ripple-ready" onclick="Cadastrar()"><i class="icon-plus"></i></button>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
                <center>
                    <div class=" p-6 col-10">
                        <table id="perfilDataTable" class="table dataTable"></table>
                    </div>
                </center>
            </div>
        </div>

    </div>
    <!-- / PAGE CONTENT WRAPPER -->
</div>

<div id="modalEditarPerfil" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Editar Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-content-wrapper">

                    <!-- HEADER -->
                    <div class="page-header d-flex flex-column justify-content-center light-fg">


                    </div>
                    <!-- / HEADER -->

                    <div class="page-content-card">
                        <!-- CONTENT -->
                        <!-- CONTENT TOOLBAR -->
                        <!-- / CONTENT TOOLBAR -->

                        <div class="page-content custom-scrollbar ps ps--active-y">
                            <div style="max-height:600px" class="todo-items w-100">

                                <div class="col-xl-11">

                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label class="col-form-label">Código</label>
                                            <input disabled type="text" class="form-control" id="inputIdModal" name="inputIdModal" placeholder="">

                                        </div>
                                        <div class="form-group col-md-7">
                                            <label class="col-form-label">Perfil</label>
                                            <input type="text" class="form-control" id="inputPerfilModal" name="inputPerfilModal" placeholder="">
                                            <input type="hidden" class="form-control" id="inputPerfilModalH" name="inputPerfilModalH">

                                        </div>
                                        <div class="form-group col-md-3">
                                            <button class="btn btn-light btn-fab btn-sm fuse-ripple-ready" onclick="Editar()"><i class="icon-pencil"></i></button>

                                        </div>


                                    </div>

                                </div>

                            </div>
                            <div class="ps__rail-x" style="left: 0px; bottom: -221px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 221px; height: 641px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 66px; height: 193px;"></div></div>
                        </div>
                        <!-- / CONTENT -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/node_modules/datatables-responsive/js/dataTables.responsive.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            MontarDataTable();
        });
        function MontarDataTable() {

            $('#perfilDataTable').DataTable(
                {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "bDestroy": true,
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "/Admin/Perfil/Listar",
                    "aoColumns": [
                        {
                            "sTitle": "Código",
                            "mDataProp": "id",
                            "sWidth": "15%"
                        },
                        {
                            "sTitle": "Perfil",
                            "mDataProp": "desPerfil"
                        },
                        {
                            "sTitle": "Ação",
                            "mDataProp": "acao"
                        }


                    ],
                    dom: 'rt<"dataTables_footer"ip>',

                    language: {
                        lengthMenu: "Exibe _MENU_ Registros por pagina",
                        search: "Procurar",
                        paginate: { "previous": "Retornar", "next": "Avancar" },
                        zeroRecords: "Nenhum registro encontrado",
                        info: "Exibindo pagina _PAGE_ de _PAGES_",
                        infoEmpty: "Sem registros",
                        infoFiltered: "(filtrado de _MAX_ regitros totais)",
                        processing: "Aguarde Estamos Processando..."
                    },

                    "filter": true,            // habilita o filtro(search box)
                    "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],

                    pageLength: 5,
                    scrollY: 'auto',
                    scrollX: false,
                    responsive: true,
                    autoWidth: false,
                    scrollCollapse: true

                }
            );
        }
        function Cadastrar() {
            if ($("#inputPerfil").val().length > 0) {
                var dataT = {
                    desPerfil: $("#inputPerfil").val()
                };
                var callback = function (data) {
                    var perfil = JSON.parse(data);
                    if (perfil.success) {
                        PNotify.success({
                            title: perfil.message
                        });
                        MontarDataTable();

                    }
                    else {
                        var msg = '';
                        $.each(perfil.data, function (index, item) {
                            msg = msg + item.property + ' - ' + item.message + '\n';
                        });

                        PNotify.info({
                            title: msg
                        });

                    }
                };
                var callbackErro = function (data) {
                    var erro = JSON.parse(data.responseText);
                    PNotify.error({
                        title: `Ocorreu um erro ao processar sua solicitação. <br> Erro [${erro.msg}]`
                    });

                };

                academia.helper.rest.utils.POST("/Admin/Perfil/Novo/", dataT, callback, callbackErro, $('#loader'));
            }
            else {

                PNotify.info({
                    title: 'Informe a descrição do perfil'
                });


            }

        }
        function ModalPerfil(elemento) {
            var Id = $(elemento).closest('tr').find('td').eq('0').html().trim();
            var Perfil = $(elemento).closest('tr').find('td').eq('1').html().trim();
            $("#inputIdModal").val(Id);
            $("#inputPerfilModal").val(Perfil);
            $("#inputPerfilModalH").val(Perfil);
            $('#modalEditarPerfil').modal("show");
        }
        function Editar() {
            if ($("#inputPerfilModal").val().length > 0 && $("#inputPerfilModalH").val().length > 0) {
                var dataT = {

                    id: $("#inputIdModal").val(),
                    desPerfil: $("#inputPerfilModal").val(),
                    desPerfilAtual: $("#inputPerfilModalH").val()

                };
                var callback = function (data) {
                    var perfil = data;
                    if (perfil.success) {
                        PNotify.success({
                            title: perfil.message
                        });
                        MontarDataTable();

                    }
                    else {
                        var msg = '';
                        $.each(perfil.data, function (index, item) {
                            msg = msg + item.property + ' - ' + item.message + '\n';
                        });

                        PNotify.info({
                            title: msg
                        });

                    }
                };
                var callbackErro = function (data) {
                    PNotify.error({
                        title: `Ocorreu um erro ao processar sua solicitação. Erro: [${data.responseText}]`
                    });

                };

                academia.helper.rest.utils.PUT("/Admin/Perfil/Editar/", dataT, callback, callbackErro, $('#loader'));
                return false;
            }
            else {

                PNotify.info({
                    title: 'Informe a descrição do perfil'
                });


            }
        }
        function Excluir(linha) {
            if ($(linha).closest('tr').find('td').eq('0').html().length > 0) {
                var dataT = {
                    id: $(linha).closest('tr').find('td').eq('0').html()
                };
                var callback = function (data) {
                    var perfil = data;
                    if (perfil.success) {
                        PNotify.success({
                            title: perfil.message
                        });
                        removeLinhaRowIndex(linha, perfilDataTable)
                    }
                    else {
                        var msg = '';
                        $.each(perfil.data, function (index, item) {
                            msg = msg + item.property + ' - ' + item.message + '\n';
                        });

                        PNotify.info({
                            title: msg
                        });

                    }
                };
                var callbackErro = function (data) {
                    PNotify.error({
                         title: `Ocorreu um erro ao processar sua solicitação.\n  [${data.responseText}]`
                    });

                };

                academia.helper.rest.utils.DELETE("/Admin/Perfil/Excluir/", dataT, callback, callbackErro, $('#loader'));
                return false;
            }
            else {

                PNotify.info({
                    title: 'Informe a descrição do perfil'
                });


            }
        }
    </script>
}
